<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{book ? 'Edit book' : 'create new book'}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="bookForm" novalidate>
                    <div class="form-group">
                        <label class="center-block">Autuor:
                            <input class="form-control" formControlName="Autuor">
                            <span *ngIf="this.bookForm.controls['Autuor'].errors?.required" [ngStyle]="{'color':'red'}">Required field</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="center-block">Date:
                            <input class="form-control" formControlName="Date">
                            <span *ngIf="this.bookForm.controls['Date'].errors?.pattern" [ngStyle]="{'color':'red'}">Date format should be 'MM/dd/YYYY'</span>
                            <span *ngIf="this.bookForm.controls['Date'].errors?.required" [ngStyle]="{'color':'red'}">Required field</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="center-block">Title:
                            <input class="form-control" formControlName="Title">
                            <span *ngIf="this.bookForm.controls['Title'].errors?.required" [ngStyle]="{'color':'red'}">Required field</span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-danger" (click)="closeModal()">cancel</button>
                    <button type="button" class="btn btn-primary" (click)="createUpdate()" [disabled]="!bookForm.valid">
                        <span>{{book ? 'Update' : 'Create'}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>