<div bsModal #confirmModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete book</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to delete the book?</span>
      </div>
      <div class="modal-footer">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
          <button type="button" class="btn btn-danger" (click)="closeModal()">cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
