:host {
    display: block;
    height: 100%;
    min-width: 840px;
    .welcome {
        height: 100vw;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        opacity: 0;
        position: absolute;
        z-index: 3;
        font-family: 'MedievalSharp';
        text-align: center;
        padding: 15em 20em;
        -moz-animation: fadein 1.5s;
        animation: fadein 5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        h3 {
            font-size: 5vw;
        }
        p {
            font-size: 4vw;
        }
        @keyframes fadein {
            0% {
                opacity: 0;
                z-index: 3;
            }
            25% {
                opacity: 1;
                z-index: 3;
            }
            80% {
                opacity: 1;
                z-index: 3;
            }
            100% {
                opacity: 0;
                z-index: 0;
            }
        }
        @-moz-keyframes fadein {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 1;
            }
            80% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                height: 0;
                width: 0;
                z-index: 0;
            }
        }
    }
    h1 {
        font-family: 'MedievalSharp';
        font-size: 72px;
        margin: 0;
        text-align: center;
        line-height: 2.5;
    }
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 auto;
        margin-bottom: 40px;
        @media (min-width: 480px) {
            width: 390px;
        }
        @media (min-width: 992px) {
            width: 770px;
        }
        @media (min-width: 1200px) {
            width: 1170px;
        }
        .item {
            flex-grow: 0;
            height: 350px;
            width: 350px;
            border: 1px solid #cecece;
            margin: 10px;
            border-radius: 10px;
            box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.5);
            transition: box-shadow .5s;
            padding: 2em;
            background: rgb(253, 255, 254);
            background: -webkit-linear-gradient(top, rgb(253, 255, 254), rgb(196, 236, 251));
            background: -o-linear-gradient(top, rgb(253, 255, 254), rgb(196, 236, 251));
            background: -moz-linear-gradient(top, rgb(253, 255, 254), rgb(196, 236, 251));
            background: linear-gradient(to bottom, rgb(253, 255, 254), rgb(196, 236, 251));
            cursor: pointer;
            position: relative;
            &:hover {
                -webkit-box-shadow: 2px 2px 10px 5px rgba(50, 50, 50, 0.5);
                box-shadow: 2px 2px 10px 5px rgba(50, 50, 50, 0.5);
            }
            img {
                width: auto;
                height: 150px;
                margin: 0 auto;
                display: block;
                box-shadow: 1px -1px 10px 4px rgba(7, 7, 7, 0.4);
                transform: rotate(0deg);
                transition: transform .3s, height .3s;
                transition-delay: .05s;
                margin-bottom: 25px;
            }
            &:hover img {
                height: 170px;
                transform: rotate(10deg);
            }
            div {
                position: absolute;
                bottom: 25px;
                line-height: 2;
                span {
                    display: block;
                }
                div {
                    position: relative;
                    top: 5px;
                    left: 180px;
                }
            }
        }
    }
    .add {
        position: fixed;
        top: 25px;
        left: 65px;
        color: #fff;
        background-color: #4bbd72;
        border-color: #4bbd72;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        font-size: 15px;
        animation-name: upAndDown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        transition: background 0.4s;
        @media (min-width: 480px) {
            top: 205px;
        }
        @media (min-width: 992px) {
            top: 25px;
        }
        &:hover {
            background: #57a36e;
            border-color: #57a36e;
        }
    }
}

@keyframes upAndDown {
    0% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
    50% {
        -webkit-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
    }
    100% {
        -webkit-transform: translateY(0rem);
        transform: translateY(0rem);
    }
}