<div class="welcome">

    <h3>Greetings {{guest}} !!</h3>
    <p>Take your time visiting our library... we hope you'll find what you are looking for.</p>
    <p> Remember... every book is a treasure</p>
</div>
<h1>Book Library App</h1>
<div class="container">
    <div class="item" *ngFor="let book of books; let i = index">
        <img [src]="book?.img == undefined ? '../assets/books/missing.jpg' : book.img">
        <div class="warpper">
            <span><strong>Author:</strong> {{book?.Autuor}}</span>
            <span><strong>Date:</strong> {{book?.Date}}</span>
            <span><strong>Title:</strong> {{book?.Title | eachWordFirstUpperRestLower | filterNoneEnglishLetters}}</span>
            <div>
                <button type="button" class="btn btn-primary" (click)="currentUpdateIndex = i; currentUpdateBook = book; openModal = !openModal">Edit</button>
                <button type="button" class="btn btn-danger" (click)="bookIndexToDelete = i;openConfirmationModal =!openConfirmationModal">Delete</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="add btn btn-primary" (click)="currentUpdateBook = null ; openModal =!openModal">Add new Book</button>

<book-modal [open]="openModal" [book]="currentUpdateBook" (createBookEvent)="createBookEvent($event)" (editBookEvent)="editBookEvent($event)"></book-modal>
<confirmation-modal [open]="openConfirmationModal" [bookIndex]="bookIndexToDelete" (deleteBookEvent)="deleteBookEvent($event)"></confirmation-modal>