/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'MedievalSharp';
    src: url('./assets/fonts/MedievalSharp.eot');
    src: url('./assets/fonts/MedievalSharp.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/MedievalSharp.woff2') format('woff2'), url('./assets/fonts/MedievalSharp.woff') format('woff'), url('./assets/fonts/MedievalSharp.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// html,body {
//     height: 100%;
// }
body {
    background: rgb(255, 255, 255);
    background: -webkit-radial-gradient(center, rgb(255, 255, 255), rgb(205, 205, 226));
    background: -o-radial-gradient(center, rgb(255, 255, 255), rgb(205, 205, 226));
    background: -moz-radial-gradient(center, rgb(255, 255, 255), rgb(205, 205, 226));
    background: radial-gradient(ellipse at center, rgb(255, 255, 255), rgb(205, 205, 226));
}